{% block content %}

{% load static %}

 
 <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4" id="pageheading">
    <div class="d-flex align-items-center">
        <h1 class="h3 mb-0 text-black-900 ml-3  text-uppercase" id="greeting">{{ greeting}} <b>{{ user.username }}</b></h1>
        <img src="{{ user_profile.profile_pic.url }}" alt="Profile Picture" class="profile-picture">
        <p class="h3 mb-0 text-black-900 ml-3  text-uppercase " id="today">Today is <b>{{ today }}</b></p>
    </div>  
</div>


<div class="row">


</div>

<!-- Content Row -->
<div class="row">

  
</div>



<!-- Content Row -->
<div class="row">

    <!-- Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{branch.name}} Products
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{branch_products.count}}</div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-people-carry fa-3x text-black-400"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products-->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{branch.name}}
                            Products</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{branch_products_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-car fa-3x text-black-400"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- sales Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{branch.name}}
                             Total Sales</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-3x text-black-400"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Revenue Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Revenue
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-balance-scale fa-3x text-black-400"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>

















<style>

    .nav-item{
        font-size: larger;
    
    
    }
    .card{
        border-radius: 30px;
    }
    
    
    
</style>





{% endblock content%}