
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Login</title>
   {% include 'scripts/links.html' %}
   {% include 'scripts/scripts.html' %}
   {% load static %}

</head>
{% include 'scripts/main_loader.html' %}
{% include 'scripts/messages.html' %}

<style>
    #logo{
        margin-top: 100px;
        margin-left:300px;
        width: 100px;
        height :100px;
       
    }


</style>

<body class="bg-white">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5  border-left-danger shadow  py-2">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="{% static 'img/logo.png' %}" alt="" id="logo">
                               
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-black-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="POST" action="{% url 'auth_pos:login' %}">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="userName"
                                                placeholder="username" name="username" required>
                                        </div>
        
                                        
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="password"
                                                id="exampleInputPassword" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button  class="btn btn-danger btn-user btn-block" type="submit" >
                                            Login
                                        </button>
                                       
                                        <hr>
                                       
                                    </form>
                                    <hr>
                                
                                    <div class="text-center">
                                        <a class="small" href="{% url 'auth_pos:register' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

   

</body>

</html>