<div class="align-content-center">
  <div class="loader"></div>
</div>

<style>
  .align-content-center {
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative; /* Add this */
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: transparent;
    pointer-events: none; /* Add this */
  }

  /* Rest of your styles... */
</style>

<script>
  var redirectUrl = "{{ redirect_url }}";
  setTimeout(function() {
    document.querySelector('.loader').style.display = 'none';
    window.location.href = redirectUrl;
  }, 6000);  // Hide the loader after 3 seconds and redirect
</script>